.tundra .myTreeOpened {
	background-image: url('folder-open.png');
	background-position: top;
	top: 1px;
	height: 32px !important;
	width: 32px !important;
}

.tundra .myTreeClosed {
	background-image: url('folder.png');
	background-position: top;
	top: 1px;
	height: 32px !important;
	width: 32px !important;
}

.tundra .dijitTreeIcon .noIcon{
	background-image: none;
	height: 32px !important;
	width: 32px !important;
}

.item1{
	background-image: url('folder-visiting.png');
	background-position: top;
	top: 1px;
	height: 32px !important;
	width: 32px !important;
}

.myLabelClass{
	color: red;
}