/* -------------------------- style definissant le layout de l'application -------------------------------------- */


.site {
background:#FFFFFF none repeat scroll 0%;
border:0pt none;
font-size:90%;
margin:0pt;
padding:0pt;
width:64em;
}
/** style pour le conteneur du header*/
.site .containerHeader {
float:left;
width:100%;
border-bottom:2px solid rgb(245,102,0);
}
/** style pour le conteneur du footer */
.site .containerFooter {
clear:both;
float:left;
width:100%;
border-top:2px solid rgb(245,102,0);
}
/** style du mask contenant la colonne de gauche et de droite*/
.site .containerMask {
background:#FAFAFA none repeat scroll 0%;
clear:both;
float:left;
overflow:hidden;
position:relative;
width:100%;
}
/* style de la colonne de droite */
.site .containerMask  .rightContainerMask {
background:#fff none repeat scroll 0%;
float:left;
left:12.5em;
position:relative;
width:200%;
}

/*
Wrapper permettant de placer la colonne de droite
*/

.site .containerMask  .rightContainerMask .contentContainerWrap {
float:right;
padding-bottom:1em;
position:relative;
right:12.5em;
width:50%;
background-color:#eee;
}
/*
conteneur pour la colonne de droite
ne pas depasser 49em en largeur
*/
.site .containerMask  .rightContainerMask .contentContainerWrap .contentContainer {
margin:1em 1em 0pt 14em;
position:relative;
right:100%;

}

/*
conteneur pour le menu
*/
.site .containerMask  .rightContainerMask .menuContainer {
float:left;
position:relative;
right:11.56em;
width:10.62em;
}

/* ----------------------------------- fin du layout ------------------------------------------ */
