.tatamiLink{
	background-image: url('../icons/od-logo.gif');	
	background-repeat: no-repeat;
	width: 99px;
	height: 54px;	
	float: left;
}

.jamendoLink{
	background-image: url('http://imgjam.com/orange/logo/jamendo_227_en.png');	
	background-repeat: no-repeat;
	width: 227px;
	height: 54px;
	float: left;
}
