/** samples of CSS classes */

div, p,ul, h1,h2,h3,h4,h5,h6,span {
margin:0pt;
padding:0pt;
outline: 0;
outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}


strong {
font-weight: bold;
}

h1,h2,h3,h4 {
font-weight:bold;
}

h1 {
font-size:1.5em;
}

h2 {
font-size:1.4em;
}

h3 {
font-size:1.2em;

}

ol, ul { list-style: none;}

img {border:none;vertical-align: middle;}

/* style des liens hypertextes */

a {
color:rgb(245,102,0);
text-decoration:none;
}

a:hover {
color:rgb(245,102,0);
text-decoration:underline;
}



.link {
background-image:url(./images/petite_fleche.gif);
background-repeat:no-repeat;
background-position:left center;
padding-left:13px;
margin:0px 0.7em 0px 0px;
}



.header {
margin:10px;
float:left;
width:100%;
}


/* permet de créer un bloc qui sera centré sur la page */
.block {
margin:1em auto 1em auto;
text-align:left;
width:80%;
clear:both;
}

.block h3 {
padding-left: 5px;
padding-top: 3px;
height:1.5em;
background-color: transparent;
font-weight:normal;
text-indent:8px;
}



 .orangeHeader {
background-image:url(./images/degrade_orange2.png);
border-left:1px solid rgb(255,157,0);
border-top:1px solid rgb(255,157,0);
border-right:1px solid rgb(255,157,0);
background-color:rgb(255,202,0);
}

 .orangeHeader h3 {
 color:#fff;
 font-weight:bold;
 }



.orangeBody {
border-right:1px solid rgb(255,157,0);
border-left:1px solid rgb(255,157,0);

}


.center {
clear:both;
margin:0em auto 0em auto;
text-align: center;

}



.list {
text-indent:2em;
list-style-image: url(./images/carre.gif);
list-style-position: inside;
margin:0em 0em 0em 0em;
}

.list li div {
display:inline;
margin-left:8px;
}

.warning {
background-image: url(./images/alerte.png);
background-repeat: no-repeat;
background-position: top left;
padding-left:70px;
padding-bottom:74px;
text-indent:0.2em;
}



.nota {
font-style: italic;
font-size:80%;
}



 .dijitToasterMessage .dijitToasterContent{
  background-image: url(images/ft_logo.gif);
  background-position: top left;
  background-repeat: no-repeat;
  background-color:#FFF;
  padding:2px 0px 10px 23px;
  margin:3px 0px 3px 0px;
  color:rgb(245,102,0);
}

 .dijitToasterMessage{

   	background:transparent;
    background-color:white;
   	font-weight: bold;
    padding:3px;
    border:1px solid rgb(245,102,0);
}

 .dijitToasterContainer {
	z-index: 5500;
	width:auto;
}
 .dijitToasterClip {
   margin-left:50%;
}


 .error-message .dijitToasterMessage .dijitToasterContent{
  background-image: url(images/delete.gif);
  background-position: top left;
  background-repeat: no-repeat;
 }

 .error-message  .dijitToasterMessage{
	color:#555;
   	background:transparent;
    background-color:white;
   	font-weight: bold;
    padding:3px;
    border:1px solid red;
}

 .error-message  .dijitToasterContainer {
	z-index: 5500;
	width:300px;
}

 .error-message .dijitToasterClip {
  margin:50px 0px 0px 0px;
}


.contentRounded {
padding:5px;
border-left:1px solid #ccc;
border-right:1px solid #ccc;
}

.leftRounded {
background-image:url(./images/arrondi_onglet_blanc_gauche.jpg);
background-repeat:no-repeat;
background-position: left top;
border-bottom:1px solid #ccc;
}

.centerRounded {
background-image:url(./images/arrondi_onglet_blanc_milieu.jpg);
background-repeat:repeat-x;
background-position:top;


}

.rightRounded {
background-image:url(./images/arrondi_onglet_blanc_droite.jpg);
background-repeat:no-repeat;
background-position: right top;
padding:6px 0px 0px;
}

/* -------------------------------------------------------------- */
/* ----------- style pour les Data grid   ------------------------*/


.clara-Table {
 background-color:white;
 width:100%;
}

.clara-Table caption {
text-indent:1em;
}


/**
Style des headers de la table
*/
.clara-Table .header-table {
  font-weight: bold;
  background-color:#ddd;
  text-align:center;
  padding:5px;
  cursor:pointer;
  border-bottom:1px solid #ccc;
  border-right:1px solid #ccc;
  border-left:1px solid #fff;
}

.clara-Table tbody tr td {
text-align:center;
padding:0.2em;
}


/**
style des headers quand le souris les survole
*/
.clara-Table .header-table-hover {
  background-color:#ccc;
}

/**
style des headers quand la colonne est trie en ascendant
*/
.clara-Table .header-table-sort-asc {
 background-image: url(images/headerbg-asc.png);
 background-repeat: no-repeat;
 background-position: right;
}

/**
style des headers quand la colonne est trie en descendant
*/

.clara-Table .header-table-sort-desc {
    background-image: url(images/headerbg-desc2.png);
    background-repeat: no-repeat;
    background-position: right;

}



/**
style des lignes impaires de la table
*/
.clara-Table tr.odd {
 background-color: #fff;
}

/**
style des lignes paires de la table
*/
.clara-Table tr.even {
 background-color: #eee;
}


.clara-Table tr.hover {
 background-color:#f8ecdf;
  cursor:pointer;
}

.clara-Table tr.even-selected, .clara-Table tr.odd-selected {
  background-color:rgb(245,102,0);
  font-weight:bold;
  color:white;

}


/* style par defaut d'une boite de dialogue */
.gwt-DialogBox {
 font-size:1.3em;
 background-color:#fff;
 border:2px outset ;
 float:left;
 width:auto;
 padding-bottom:10px;
}



/* style par defaut de la barre de titre d'une boite de dialogue */
.gwt-DialogBox .Caption {
 background-color:#CECECE;
 background-image:url(./images/degrade.gif);
 background-repeat: repeat-x;
 border-bottom:1px solid #999;
 color:#333;
 font-weight:bold;
 text-align:center;
 cursor:default;
}




.submit {
background-image: url(./images/buttonbg.gif);
background-repeat: no-repeat;
background-position: center center;
border:none;
background-color:rgb(245,102,0);
color:#fff;
text-indent:0px;
width:6.8em;
min-width:6.8em;
height:26px;
min-height:26px;
cursor:pointer;
font-weight:bold;
}



label {
display:block;
float:left;
width:10em;
margin:0.3em 0em 0.3em 0.3em;

}

label.long {
width:15em;
}


.paginationBar {
float:right;
width:auto;
margin:0.4em;
}

.resultat {
float:left;
width:auto;
margin:0.4em;
}

.paginationBar img {
vertical-align: top;
}


.beanView ul.list {
 height:10em;
 overflow:auto;
}


.paginationBar .pages {
margin-left:0.4em;
margin-right:0.4em;
}

.gwt-Hyperlink {
cursor:pointer;
}

.gwt-Hyperlink-selected {
color:white;
background-color:rgb(245,102,0);
}

.gwt-Hyperlink-selected a {
/*cursor:pointer;*/
color:white;

}



/**
style d'un element <fieldset> (panneau avec une bordure et un titre)
*/
fieldset {
 border:1px solid rgb(245,102,0);
 margin:0px 5px;
 padding-bottom:10px;
}


/**
style du titre d'un element fieldset
*/
fieldset legend {
 background-color: #fff;
 color:#bbb;
 padding:0px 5px 0px 5px;
 margin-left:5px;
 font-weight:bold;
}

.gwt-DialogBox .closeButton {
 margin:10px;
 float:right;
 width:auto;
}

.loadingText {
color:rgb(245,102,0);
}